*{
    margin: 0;
    padding:0;
}
.footer-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-top: 10px solid #EF2A82;
    .logo-container{
        img{
            filter: brightness(50%) sepia(100) saturate(100) hue-rotate(320deg);
        }
    }
    
    .nav-container{
        display: flex;
        gap: 25px;
        a{
            text-decoration: none;
        }
        @media only screen and (min-width:680px) and (max-width:830px){
            display: flex;
            flex-direction: column;
        }
        @media only screen and (min-width:320px) and (max-width:679px){
            display: none;
        }
    }
    .socialmedia-container{
        display: flex;
        gap: 25px;
        img{
            filter: brightness(50%) sepia(100) saturate(100) hue-rotate(320deg);
        }
    }

}