
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background: url('../../assets/backgroundimg.png');
    height: 800px;
    background-size: cover;
    .normal{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        flex-direction: column;
        color:white;
        align-items:flex-start;
        justify-content: flex-start;
        padding: 20px;
        gap: 30px;
        z-index: 999;
        background-color: rgba(9%, 5%, 4%, 20%);
        backdrop-filter: blur(10px);
        .first-menu{
            display: flex;
            flex-direction: row;
            align-items:center ;
            gap: 250px;
            color: white;
        }
        button{
            border: none;
            background: none;
            color: white;
            padding: 5px;
            border-radius: 15px;
            background-color: #EF2A82;
        }   
    }
    .vertical-menu-container{
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        flex-direction: column;
        color: #8794BA;
        align-items:flex-start;
        justify-content: flex-start;
        padding: 20px;
        gap: 30px;
        z-index: 999;
        background-color: #172755;
        .first-menu{
            display: flex;
            flex-direction: row;
            align-items:center ;
            gap: 250px;
        }
        
    }
       
    }
    
    .navbar-container{
        position: relative;
        top: 40px;
        display: grid;
        grid-template-columns: 20fr 40fr 40fr;
        align-items: center;
        justify-content: center;
       z-index: 1;
        .logo-container{
            display: flex;
            position: relative;
            align-items: center;
            left: 10vw;
            img{
                height: 40px;
                width: 40px;
            }
            span{
                img{
                    width: 118px;
                    height: 16px;
                }
                
                margin-left: 10px;
            }
        }
        .menu-container{
            position: relative;
            display: flex;
            flex-direction: col;
            color: #8794BA;
            left: 160px;
            gap: 36px;
            @media only screen and (max-width:1350px){
                display: none;
            }
            a{
                gap: 36px;
            }
        }
        .btn-container{
            display: flex;
            align-items: center;
            position: relative;
            gap: 50px;
            width: fit-content;
            margin-left: 150px;
            @media only screen and (max-width:1350px){
                button{
                   display: none;
                    }
                }
               
          
            .sign-in-btn{
                border: none;
                background: none;
                color: #8794BA;
            }
            .sign-up-btn{
                border: 1px solid #8794BA;
                border-radius: 15px;
                padding: 10px;
                width: 120px;
                background: none;
                color: #8794BA;
                
            }
        }
            .hamburger-menu{
                display: none;
                position: fixed;
                right: 30vh;
                button{
                            border: 1px solid #8794BA;
                            background: none;
                            color: #8794BA;
                            padding: 5px;
                            border-radius: 15px;
                        }
                @media only screen and (max-width:1350px) {
                    display: flex;
                    position: absolute;
                    right: 10vh;

                }
            }
           
        }
       
    
    .textblock-container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 650px;
        .text-block{
           position: relative;
           left: 170px;
           @media only screen and (max-width:1350px){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            left: 0px;
           }
            .heading-text{
                font-family: Roboto;
                font-size: 45px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                margin-bottom: 20px;
                @media only screen and (max-width:600px){
                    font-size:25px;
                    font-weight: 900;
                }
            }
            .block-text{
                display: flex;
                color: #8794BA;
                width: 500px;
                text-align: justify;
                font-size: 18px;
                margin-bottom: 25px;
                font-family: Roboto;
                @media only screen and (max-width:600px){
                    font-size:12px;
                    line-break: normal;
                    width: 260px;
                }
            }
            
        }

        .image-block{
            width: 873px;
            @media screen and (max-width:1350px) {
                display: none;
            }
            img{
                width: 620px;
                height: 520px;
                position: absolute;
                bottom:10px;
                right: 0px;
            }
        }
        button{
            width: 238px;
            height: 50px;
            background-color:#EF2A82;
            color: white;
            border-radius: 25px;
            border: none;
        }
        
    }

