
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background: url('../../assets/backgroundimg.png');
    height: 735px;
    background-size: cover;

    
    .navbar-container{
        position: relative;
        top: 40px;
        display: grid;
        grid-template-columns: 20fr 40fr 40fr;
        align-items: center;
        justify-content: center;
        .logo-container{
            display: flex;
            position: relative;
            align-items: center;
            left: 200px;
            img{
                height: 40px;
                width: 40px;
            }
            span{
                img{
                    width: 118px;
                    height: 16px;
                }
                
                margin-left: 10px;
            }
        }
        .menu-container{
            position: relative;
            display: flex;
            color: #8794BA;
            left: 160px;
            gap: 36px;
            a{
                gap: 36px;
            }
        }
        .btn-container{
            display: flex;
            align-items: center;
            position: relative;
            gap: 50px;
            width: fit-content;
            margin-left: 150px;
            button{
                border: none;
                background: none;
                color: #8794BA;
            }
            .sign-up-btn{
                border: 1px solid #8794BA;
                border-radius: 15px;
                padding: 10px;
                width: 120px;
                
            }
        }
       
    }
    .textblock-container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 650px;
        .text-block{
           position: relative;
           left: 170px;
            .heading-text{
                font-family: Roboto;
                font-size: 45px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0em;
                text-align: left;
                color: white;
                margin-bottom: 20px;
            }
            .block-text{
                color: #8794BA;
                width: 500px;
                text-align: justify;
                font-size: 18px;
                margin-bottom: 25px;
                font-family: Roboto;
            }
            
        }

        .image-block{
            width: 873px;
            img{
                width: 620px;
                height: 520px;
                position: absolute;
                bottom:10px;
                right: 0px;
            }
        }
        button{
            width: 238px;
            height: 50px;
            background-color:#EF2A82;
            color: white;
            border-radius: 25px;
            border: none;
        }
        
    }
    
}